/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
* Do not remove the @namespace line -- it's required for correct functioning
*/
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

/*
 * [Ib 1.5a1pre]:
 * Element														V/H	CSS Identifier						JavaScript Identifier
 * tabconversation										H	#conversations
 * 	tabbox														V	> tabbox										getBrowser().mTabBox
 * 		hbox														H	.tab-drop-indicator-bar			getBrowser().mTabDropIndicatorBar
 * 			hbox													H	.tab-drop-indicator
 * 		hbox														H	.tabbrowser-strip						getBrowser().mStrip
 * 			tooltip
 * 			menupopup												#context_newTab
 * 			tabs													H	.tabbrowser-tabs						getBrowser().mTabContainer
 * 				hbox												H	.tabs-container							getBrowser().ownerDocument.getAnonymousNodes(getBrowser().mTabContainer)[0]
 * 					arrowscrollbox						H	.tabbrowser-arrowscrollbox	getBrowser().mTabContainer.mTabstrip
 *						toolbarbutton							.scrollbutton-up
 *							image										.toolbarbutton-icon
 *							label										.toolbarbutton-text
 * 						scrollbox								H	> scrollbox									getBrowser().ownerDocument.getAnonymousElementByAttribute(arrowscrollbox,"anonid","scrollbox")
 * 							box									 	H	> box
 * 								tab									H	.tabbrowser-tab
 * 									stack							 .tab-stack
 * 										hbox							.tab-background
 * 											hbox						.tab-background-start
 * 											hbox						.tab-background-middle
 * 											hbox						.tab-backgronud-end
 * 										hbox							.tab-content
 * 											image					 	.tab-icon-image
 * 											label						.tab-text
 * 											toolbarbutton	 	.tab-close-button
 * 												image					.toolbarbutton-icon
 * 						toolbarbutton							.scrollbutton-down
 *							image										.toolbarbutton-icon
 *							label										.toolbarbutton-text
 *					toolbarbutton								.tabs-newtab-button
 *						image											.toolbarbutton-icon
 *						label											.toolbarbutton-text
 *					toolbarbutton								.tabs-alltabs-button
 *						menupopup									.tabs-alltabs-popup
 *							arrowscrollbox					.popup-internal-box
 *						image											.toolbarbutton-icon
 *						label											.toolbarbutton-text
 *						dropmarker								.toolbarbutton-menu-dropmarker
 *							image										.dropmarker-icon
 *					toolbarbutton								.close-button .tabs-closebutton
 *						image											.toolbarbutton-icon
 * 		tabpanels												H	> tabpanels									 getBrowser().mTabbox.lastChild
 * 			conversation									H
 */

/*
 * Inspired by jomel (TabKit extension): http://code.google.com/p/tabkit/
 * Inspired by Stephen Clavering (clav): http://forums.mozillazine.org/viewtopic.php?p=238798#238798
 */

/*
 * Note:
 * All the -moz-box-* properties set below are mainly for reference
 * The real work goes on in the JS that sets their corresponding attributes
 */

/* Tabs on right */
/*#conversations > tabbox {
	-moz-box-direction: reverse !important;
}*/

#conversations {
  padding-top: 0;
}

#conversations > tabbox {
	-moz-box-orient: horizontal !important; /* Not set in JS */
	max-height: none !important;
}
#conversations,
#conversations .tab-drop-indicator-bar,
#conversations .tabbrowser-strip,
#conversations .tabs-container,
#conversations .tabbrowser-arrowscrollbox,
#conversations .tabbrowser-arrowscrollbox > scrollbox,
#conversations > tabbox > tabpanels {
	-moz-box-orient: vertical !important;
	max-height: none !important;
}

/* Bottom border */
#conversations > vbox {
	max-height: none;
	-moz-box-orient: horizontal !important; /* Not set in JS */
}
/*#conversations .tabs-bottom {
	/* We're going to leave just the left border */
	/*border-right: 0px;
	width: 0px;
}*/
#conversations .tabs-splitter {
	/*border-left: 0px;*/
}
#conversations .tabs-container {
	/* "Default" width */
	width: 120px;
  /*border-right: 2px;
  border-right-style: solid;*/
}
