/*
* Do not remove the @namespace line -- it's required for correct functioning
*/
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

/*
 * [Ib 0.2b2 - 0.3a1pre]:
 * Element													V/H	CSS Identifier				JavaScript Identifier
 * tabconversation											H	#conversations
 * 	tabbox												V	> tabbox						getBrowser().mTabbox
 * 		hbox											H	.tab-drop-indicator-bar			getBrowser().mTabDropIndicatorBar
 * 			hbox										H	.tab-drop-indicator
 * 		hbox											H	.tabbrowser-strip				getBrowser().mStrip
 * 			tooltip
 * 			menupopup										#context_newTab
 * 			tabs										H	.tabbrowser-tabs				getBrowser().mTabContainer
 * 				stack									H	.tabs-stack						getBrowser().ownerDocument.getAnonymousNodes(getBrowser().mTabContainer)[0]
 * 					vbox								V	> vbox							getBrowser().ownerDocument.getAnonymousNodes(getBrowser().mTabContainer)[0].firstChild
 * 						spacer							V	> vbox > spacer					getBrowser().ownerDocument.getAnonymousNodes(getBrowser().mTabContainer)[0].firstChild.firstchild
 * 						hbox							H	.tabs-bottom					getBrowser().ownerDocument.getAnonymousNodes(getBrowser().mTabContainer)[0].firstChild.lastChild
 * 					hbox								H	.tabs-container					getBrowser().ownerDocument.getAnonymousNodes(getBrowser().mTabContainer)[0].firstChild.nextSibling
 * 						arrowscrollbox					H	.tabbrowser-arrowscrollbox		getBrowser().mTabContainer.mTabstrip
 * 							scrollbox					H	> scrollbox						getBrowser().ownerDocument.getAnonymousElementByAttribute(arrowscrollbox,"anonid","scrollbox")
 * 								box						H	> box
 * 									tab					H	.tabbrowser-tab
 * 										image				.tab-icon-image
 * 										label				.tab-text
 * 										toolbarbutton		.tab-close-button
 * 					stack								H	.tabs-alltabs-stack
 * 		tabpanels										H	> tabpanels						getBrowser().mTabbox.lastChild
 * 			conversation								H
 */

/*
 * Inspired by jomel (TabKit extension): http://code.google.com/p/tabkit/
 * Inspired by Stephen Clavering (clav): http://forums.mozillazine.org/viewtopic.php?p=238798#238798
 */

/*
 * Note:
 * All the -moz-box-* properties set below are mainly for reference
 * The real work goes on in the JS that sets their corresponding attributes
 */

/* Tabs on right */
/*#conversations > tabbox {
	-moz-box-direction: reverse !important;
}*/

#conversations > tabbox {
	-moz-box-orient: horizontal !important; /* Not set in JS */
	max-height: none !important;
}
#conversations,
#conversations .tab-drop-indicator-bar,
#conversations .tabbrowser-strip,
#conversations .tabbrowser-tabs,
#conversations .tabs-stack,
#conversations .tabs-container,
#conversations .tabbrowser-arrowscrollbox,
#conversations .tabbrowser-arrowscrollbox > scrollbox,
#conversations .tabbrowser-arrowscrollbox > scrollbox > .scrollbox-innerbox,
#conversations > tabbox > tabpanels {
	-moz-box-orient: vertical !important;
	max-height: none !important;	
}

/* Bottom border */
#conversations .tabs-stack > vbox {
	max-height: none;
	-moz-box-orient: horizontal !important; /* Not set in JS */
}
#conversations .tabs-bottom {
	border-right: 0px;
	width: 0px;
	padding-right: 3px;
}
#conversations .tabs-splitter {
	border-left: 0px;
}
#conversations .tabs-stack {
	width: 150px;
}