/*
* Do not remove the @namespace line -- it's required for correct functioning
*/
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

/*
[Ib0.2only]:
Element									V/H	Identifier						JavaScript
tabconversation							H	#conversations
	tabbox								V	> tabbox						getBrowser().mTabbox
		hbox							H	.tab-drop-indicator-bar			getBrowser().mTabDropIndicatorBar
			hbox						H	.tab-drop-indicator
		hbox							H	.tabbrowser-strip				getBrowser().mStrip
			tooltip
			menupopup						#context_newTab
			tabs						H	.tabbrowser-tabs				getBrowser().mTabContainer
				stack					H	.tabs-stack						
					vbox				V	> vbox
						hbox			H	> vbox > hbox
					hbox				H	.tabs-container
						arrowscrollbox	H	.tabbrowser-arrowscrollbox		getBrowser().mTabContainer.mTabstrip
							scrollbox	H	> scrollbox						getBrowser().mTabContainer.mTabstrip.getAnonymousElementByAttribute(arrowscrollbox,"anonid","scrollbox")
								box		H	> box
									tab	H	.tabbrowser-tab
					stack				H	.tabs-alltabs-stack
		tabpanels						H	> tabpanels						
			conversation				H
*/

/*
 * Inspired by jomel (TabKit extension): http://code.google.com/p/tabkit/
 * Inspired by Stephen Clavering (clav): http://forums.mozillazine.org/viewtopic.php?p=238798#238798
 */

/*
 * Note:
 * All the -moz-box-* properties set below are mainly for reference
 * The real work goes on in the JS that sets their corresponding attributes
 */

/* Tabs on right */
/*#conversations > tabbox {
	-moz-box-direction: reverse !important;
}*/

#conversations > tabbox {
	-moz-box-orient: horizontal !important; /* Not set in JS */
	max-height: none !important;
}
#conversations,
#conversations > tabbox > .tabbrowser-strip,
#conversations .tabbrowser-tabs,
#conversations .tabs-stack,
#conversations .tabs-container,
#conversations .tabbrowser-arrowscrollbox,
#conversations .tabbrowser-arrowscrollbox > scrollbox,
#conversations .tabbrowser-arrowscrollbox > scrollbox > .scrollbox-innerbox,
#conversations > tabbox > tabpanels {
	-moz-box-orient: vertical !important;
	max-height: none !important;	
}

#conversations .tabbrowser-arrowscrollbox .scrollbox-innerbox {
	/*overflow-x: hidden !important;
	overflow-y: auto !important;*/
}

/* Bottom border */
#conversations .tabs-stack > vbox {
	max-height: none;
	-moz-box-orient: horizontal !important; /* Not set in JS */
}

/*#conversations .tabbrowser-tabs {
	-moz-box-align: stretch !important;*/ /* Make sure tabs fill width, not set in JS */
	/*background-image: none !important; *//* Background was designed for repeat-x, and looks ugly when tiled vertically */
/*}*/

/* Tabs */
.tabbrowser-tab {
	/* winstripe -- http://lxr.instantbird.org/instantbird/source/instantbird/themes/tabbrowser-winstripe/tabbrowser.css#56 */
	max-height: 22px !important;
	/*margin: 0 4px 0 3px;*/
	padding: 1px 0px 0px 1px;
	border-right-width: 0;
	border-bottom: 1px solid;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomleft: 2px;
	/* gnomestrip -- http://lxr.instantbird.org/instantbird/source/instantbird/themes/tabbrowser-gnomestripe/tabbrowser.css#46*/
	/*margin-bottom: 0;
	margin-right: 1px;*/
	/* pinstripe -- http://lxr.instantbird.org/instantbird/source/instantbird/themes/tabbrowser-pinstripe/tabbrowser.css#98*/
	/*-moz-border-radius: 6px 0 0 6px;
	margin: 0 1px 0 0;
	padding: 5px 0;
	max-height: 24px;*/
}

.tabbrowser-tab:hover,
.tabbrowser-tab[selected="true"] {
	/* winstripe -- http://lxr.instantbird.org/instantbird/source/instantbird/themes/tabbrowser-winstripe/tabbrowser.css#72 */
	/*height: 23px;*/
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
}

.tabbrowser-tab:not([selected="true"]):hover {
	/* winstripe -- http://lxr.instantbird.org/instantbird/source/instantbird/themes/tabbrowser-winstripe/tabbrowser.css#83 */
	margin: 0 4px 0 2px;
	padding: 1px 1px 1px 2px;
}


.tabbrowser-tab[selected="true"] {
	/* winstripe -- http://lxr.instantbird.org/instantbird/source/instantbird/themes/tabbrowser-winstripe/tabbrowser.css#89 */
	margin: 0 3px 0 2px;
	/* gnomestrip -- http://lxr.instantbird.org/instantbird/source/instantbird/themes/tabbrowser-gnomestripe/tabbrowser.css#52*/
	/*margin-right: 0;*/
	/* pinstripe -- http://lxr.instantbird.org/instantbird/source/instantbird/themes/tabbrowser-pinstripe/tabbrowser.css#122 */
}

.tabs-bottom {
	/* winstripe -- http://lxr.instantbird.org/instantbird/source/instantbird/themes/tabbrowser-winstripe/tabbrowser.css#106 */
	width: 4px;
	border-top: 0;
	border-bottom: 0;
	border-left: 1px solid threedshadow;
	border-right: 1px solid threedshadow;
	/* gnomestrip */
	/*border-bottom: 0;
	border-right: 1px solid threedshadow;*/
}

/* Cosmetic: hide tab side images */
#conversations .tabbrowser-tab .tab-image-left/*[Fx2only] (and apparently Fx3/Mac)*/,
#conversations .tabbrowser-tab .tab-image-right/*[Fx2only] (and apparently Fx3/Mac)*/ {
	/*display: none !important;*/
}

/* Tab DnD indicator */
.tab-drop-indicator-bar {
	/* winstripe -- http://lxr.instantbird.org/instantbird/source/instantbird/themes/tabbrowser-winstripe/tabbrowser.css#128 */
	-moz-box-orient: vertical;
	/* TODO */
}

.tab-drop-indicator {
	/* winstripe -- http://lxr.instantbird.org/instantbird/source/instantbird/themes/tabbrowser-winstripe/tabbrowser.css#137 */
	-moz-box-orient: vertical;
	/* TODO */
}

/* Tab scrollbox arrow, tabstrip new tab and all-tabs buttons */
.tabbrowser-arrowscrollbox > .scrollbutton-up,
.tabbrowser-arrowscrollbox > .scrollbutton-down,
.tabs-newtab-button,
.tabs-alltabs-button {
	/* winstripe -- http://lxr.instantbird.org/instantbird/source/instantbird/themes/tabbrowser-winstripe/tabbrowser.css#183 */
	height: 18px;
	margin: 0 4px 0 3px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-left: none;
}

.tabbrowser-arrowscrollbox > .scrollbutton-up {
	/* winstripe -- http://lxr.instantbird.org/instantbird/source/instantbird/themes/tabbrowser-winstripe/tabbrowser.css#233 */
	border-bottom-style: none;
	-moz-border-radius-topleft: 2px;
}

.tabbrowser-arrowscrollbox > .scrollbutton-up[chromedir="rtl"] {
	/* winstripe -- http://lxr.instantbird.org/instantbird/source/instantbird/themes/tabbrowser-winstripe/tabbrowser.css#239 */
	border-bottom-style: solid;
	border-top-style: none;
	-moz-border-radius-bottomleft: 2px;
	-moz-border-radius-topleft: 0px;
}
