/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

/*
[Ib0.2only]:
tabconversation							H	#conversations
	tabbox								V	> tabbox
		hbox							H	.tab-drop-indicator-bar
			hbox						H	.tab-drop-indicator
		hbox							H	.tabbrowser-strip
			tabs						H	.tabbrowser-tabs
				stack					H	.tabs-stack
					vbox				V	> vbox
						hbox			H	> vbox > hbox
					hbox				H	.tabs-container
						arrowscrollbox	H	.tabbrowser-arrowscrollbox
							scrollbox	H	> scrollbox
								box		H	> scrollbox > box
									tab	H	.tabbrowser-tab
					stack				H	.tabs-alltabs-stack
		tabpanels						H	> tabpanels
*/

#conversations > tabbox {
	-moz-box-orient: horizontal !important;
}
/*
#conversation > tabbox > .tabbrowser-strip {
	-moz-box-orient: vertical !important;
}
#conversation > tabbox > .tabbrowser-strip > .tabbrowser-tabs {
	-moz-box-orient: vertical !important;
}
#conversation > tabbox > .tabbrowser-strip > .tabbrowser-tabs > .tabs-stack {
	-moz-box-orient: vertical !important;
}
#conversation > tabbox > .tabbrowser-strip > .tabbrowser-tabs > .tabs-stack > .tabs-container {
	-moz-box-orient: vertical !important;
}*/
#conversation > tabbox > .tabbrowser-strip > .tabbrowser-tabs > .tabs-stack > .tabs-container > .tabbrowser-arrowscrollbox {
	-moz-box-orient: vertical !important;
}
#conversation > tabbox > .tabbrowser-strip > .tabbrowser-tabs > .tabs-stack > .tabs-container > .tabbrowser-arrowscrollbox > scrollbox {
	-moz-box-orient: vertical !important;
}
#conversation > tabbox > .tabbrowser-strip > .tabbrowser-tabs > .tabs-stack > .tabs-container > .tabbrowser-arrowscrollbox > scrollbox > box {
	-moz-box-orient: vertical !important;
}

#conversation > tabbox > .tabbrowser-strip > .tabbrowser-tabs > .tabs-stack > .tabs-container > .tabbrowser-arrowscrollbox > scrollbox > box > .tabbrowser-tab {
	min-height: 2em !important;
	max-height: 2em !important;
}

