/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* Have the tabs overlap with the splitter */
#conversations .tabs-splitter {
  margin-left: -7px;
  /*margin-left: -8px;*/
  /*border-left: 0;*/
}

.tabs-container > toolbarbutton,
.tabs-container > toolbarbutton > .toolbarbutton-menubutton-button,
.tabbrowser-arrowscrollbox > .scrollbutton-up,
.tabbrowser-arrowscrollbox > .scrollbutton-down {
  padding: 0;
}

/* Aero-only? */
@media all and (-moz-windows-default-theme) {
  .tabbrowser-strip {
    padding: 2px 0 2px 2px;
  }
}

.tabbrowser-tab,
.tabs-newtab-button {
  background: -moz-linear-gradient(right, rgba(10%,10%,10%,.4) 1px, transparent 1px),
              -moz-linear-gradient(left, transparent, hsla(0,0%,45%,.1) 1px, hsla(0,0%,32%,.2) 80%, hsla(0,0%,0%,.2)),
              -moz-linear-gradient(left, -moz-dialog, -moz-dialog);
  -moz-border-image: url(tab.png) 3 6 3 4 / 3px 6px 3px 1px repeat stretch;
  border-radius: 7px 0 0 7px;
}

.tabbrowser-tab:hover,
.tabs-newtab-button:hover {
  background-image: -moz-linear-gradient(right, rgba(10%,10%,10%,.4) 1px, transparent 1px),
                    -moz-linear-gradient(left, hsla(51,34%,100%,.9), hsla(51,15%,94%,.9) 1px, hsla(51,9%,83%,.9));
}

.tabbrowser-tab[selected="true"] {
  background-image: -moz-linear-gradient(left, rgba(255,255,255,.7), rgba(255,255,255,.5) 50%),
                    -moz-linear-gradient(left, -moz-dialog, -moz-dialog);
}

/* Tab Drag 'n' Drop indicator */
.tab-drop-indicator-bar {
  margin-top: -7px;
  margin-left: -7px;
  margin-right: -4px;
  margin-bottom: 0;
}
.tab-drop-indicator {
  -moz-transform: rotate(-90deg);
}

/* Rotate the scroll icons to be up and down instead of left and right */
.tabbrowser-arrowscrollbox > .scrollbutton-up > .toolbarbutton-icon {
  -moz-transform: rotate(90deg);
}
.tabbrowser-arrowscrollbox > .scrollbutton-down > .toolbarbutton-icon {
  -moz-transform: rotate(-90deg);
}

.tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled]) {
  -moz-border-image: url("tab-overflow-border.png") 2 0 2 0 / 0 0 2px 0;
}
.tabbrowser-arrowscrollbox > .scrollbutton-down:not([disabled]) {
  -moz-border-image: url("tab-overflow-border.png") 2 0 2 0 / 2px 0 0 0;
}
